/* ESTILOS GLOBALES */


@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');


*{
  font-family: 'Spartan', sans-serif;
}

#product-page .page {
    background: #fff;
}

.deskin{
    display: none;
}

.mbin {
    display: block;
}

#product-page #box-bread-brumb li a, #product-page #box-bread-brumb li a span {
    color: #000;
    font-family: 'Spartan';
}

.bread-crumb span {
    font-size: 1em;
}

#box-bread-brumb li:before {
    content: "/";
    color: #000;
}

/* ESTILOS INFORMACION PRODUCTO */

.product-info {
    grid-template-columns: 100%;
}

.product-details .product-name h1 {
    font-weight: bold;
}

.fn.productName {
    line-height: 1.4;
}

.product-details .product-model {
    margin-top: -10px;
    margin-bottom: 15px;
}


.product-details .product-model {
    display: flex;
    color: #292C2F;
    font-size: 13px;
    margin-bottom: 8px;
}

.skuListPrice {
    display: none;
}



@media (min-width:768px){

    .deskin{
        display: block;
    }
    
    .mbin {
        display: none;
    }
     
    .product-model.mbin {
        display: none;
    }

}

@media (min-width: 1200px){
    .container {
        width: 95% !important;
        max-width: 1400px !important;
    }

    .sugerencias .price {
        margin-top: -30px;
    }

}
